@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #f27bbd;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

/* SEGUNDA OPÇÃO DE COR
:root {
    --cor-primaria: #10439F;
    --cor-secundaria: #F27BBD;
    --cor-terciaria: #22D4FD;
    --cor-hover: #874CCC;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}
*/

/*pra tirar aqueles espaços*/
*{
    margin: 0;
    padding: 0;
}

body { 
    /* ALTURA DA TELA 100% */
/* height: 100vh; /*limite altura */
box-sizing: border-box;/* limite largura*/
background-color: var(--cor-primaria);
color: var(--cor-secundaria);
}
/*aqui que posso usar cor com hashtag*/
/*
strong {
    color: #22D4FD;
}
*/ /*era strog*/
/* aqui eu troco strong por class para dar essa cor nesse momento */

.cabecalho {
    padding: 2% 0% 0% 20%; /*sentido horario, 1 de cima 2 direita 3 baixo 4 esquerda */
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao {

    padding: 5% 20%; /* igual ao de cabecalho*/
    display: flex;
    align-items: center;
    justify-content: space-between; /*pra dar espaço entre a seção texto  e imagem*/
    gap: 10%;
     
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);

}

.titulo-destaque { 
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);

}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px; /*borda redonda*/
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /*padding 1 valor só fica ao redor, dois valores o primeiro é o vertical e o segundo horizontal*/
    text-decoration: none; /*tirar decorações do texto tipo o sublinhado dos links*/
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);

}

.apresentacao__links__navegacao:hover { 
    /* aqui quando a gente passa o mouse ele muda a cor da ancora */
    background-color: var(--cor-hover)

}
.apresentacao__imagem {
    width: 50%;

}
.apresentacao__imagem__2{
    width: 35%;
}

.rodape {
    padding: 24px;
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10% ;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto; /* aqui esse auto é de automatico, vai usar todo o espaço disponivel do padding, poderia tambem ser 100%*/

    }












    /* tambem pode mudar a cor por aqui */
}




